#!/usr/bin/make -f
# debian/rules that uses debhelper >= 7.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh  $@

install_libvmdk:
	# Set up libvmdk package directories and files
	mkdir -p debian/libvmdk/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so.*.*.* debian/libvmdk/usr/lib

install_libvmdk_dev:
	# Set up libvmdk-dev package directories and files
	mkdir -p debian/libvmdk-dev/usr/include
	mkdir -p debian/libvmdk-dev/usr/include/libvmdk
	mkdir -p debian/libvmdk-dev/usr/lib
	mkdir -p debian/libvmdk-dev/usr/lib/pkgconfig
	mkdir -p debian/libvmdk-dev/usr/share/man/man3
	install -p -m755 debian/tmp/usr/include/*.h debian/libvmdk-dev/usr/include
	install -p -m755 debian/tmp/usr/include/libvmdk/*.h debian/libvmdk-dev/usr/include/libvmdk
	install -p -m755 debian/tmp/usr/lib/*.la debian/libvmdk-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.a debian/libvmdk-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so debian/libvmdk-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/pkgconfig/* debian/libvmdk-dev/usr/lib/pkgconfig
	install -p -m755 debian/tmp/usr/share/man/man3/* debian/libvmdk-dev/usr/share/man/man3

install_libvmdk_tools:
	# Set up libvmdk-tools package directories and files
	mkdir -p debian/libvmdk-tools/usr/bin
	mkdir -p debian/libvmdk-tools/usr/share/man/man1
	install -p -m755 debian/tmp/usr/bin/* debian/libvmdk-tools/usr/bin
	install -p -m755 debian/tmp/usr/share/man/man1/* debian/libvmdk-tools/usr/share/man/man1

override_dh_auto_test:

override_dh_installinit: install_libvmdk install_libvmdk_dev install_libvmdk_tools

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_gconf:

override_dh_icons:

override_dh_perl:

override_dh_shlibdeps:
	dh_shlibdeps -Llibvmdk -l${PWD}/debian/tmp/usr/lib

override_dh_makeshlibs:
	dh_makeshlibs -Xlibvmdk-dev

